<!-- <div *ngIf="room_RLC.availableRooms">Rooms List :</div> -->
<h3>{{ title_RLC }}</h3>

<table class="table">
  <tr [ngStyle]="{ 'background-color': 'green' }">
    <th>Room No</th>
    <th>Room Type</th>
    <th>Amenities</th>
    <th>Photos</th>
    <th>Price</th>
    <th>Check In Time</th>
    <th>check Out Time</th>
    <th>Rating</th>
    <th>Select Room</th>
  </tr>
  <tr
    [ngClass]="e ? 'even' : 'odd'"
    *ngFor="let room of rooms_RLC; let i = index; let e = even"
  >
    <!-- <td>{{ room.roomNumber }}</td> -->
    <td>{{ i + 1 }}</td>
    <td>{{ room.roomType }}</td>
    <td>{{ room.amenities | lowercase }}</td>
    <td>{{ room.photos }}</td>
    <td>{{ room.price | currency : "INR" }}</td>
    <td>{{ room.checkinTime | date : "mediumDate" }}</td>
    <td>{{ room.checkoutTime | date : "mediumDate" }}</td>
    <td>{{ room.rating | number : "1.0-2" }}</td>
    <!-- 1.2 resembles 1 digit before the decimal point and 2 digits after decimal point  -->
    <td>
      <button class="btn btn-primary" (click)="selectRoom_RLC(room)">
        Select
      </button>
    </td>
  </tr>
</table>
