<!-- <h1 #name>AppComponent</h1>
<hinv-rooms></hinv-rooms>

<hinv-container>
  <hinv-rooms></hinv-rooms>
  <hinv-employee></hinv-employee>
  <h2>This is from ng-content</h2>
</hinv-container> -->

<!-- <hinv-rooms></hinv-rooms> -->

<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'user'">Welcome User!</div>
  <div *ngSwitchCase="'admin'">Welcome Admin!</div>
  <div *ngSwitchDefault>You are not authorized to view this page!</div>
</div> -->

<!-- here we are dynamically loading <hinv-rooms></hinv-rooms> below -->
<!-- <div>
  <ng-template #user></ng-template>
</div> -->

<!-- <a [routerLink]="'rooms'">Rooms</a>
<a [routerLink]="'employee'">Employee</a> -->
<hinv-app-nav></hinv-app-nav>
<!-- <router-outlet></router-outlet> -->
