<!-- <h3>Welcome to {{ hotelName_RC }}!</h3> -->
<hinv-header></hinv-header>
<!-- <hinv-header></hinv-header>
<hinv-header></hinv-header> -->
<!-- {{ rooms$ | async | json }} -->
<div>
  No. of Rooms : {{ roomsCount$ | async }}
  <!-- <div [innerText]="noOfRooms_RC"></div> -->
</div>

<!-- document.getElementById('noOfRooms').innerText = noOfRooms; -->

<!-- {{ room ?? "No rooms" }} -->
<div *ngIf="hideRooms_RC && (rooms$ | async) as roomsList">
  <hinv-rooms-list
    [rooms_RLC]="roomsList"
    [title_RLC]="title_RC"
    (selectedRoom_RLC)="selectRoom_RC($event)"
  ></hinv-rooms-list>
</div>
<div *ngIf="selectedRoom_RC">
  {{ selectedRoom_RC | json }}
</div>
<button (click)="addRoom_roomsC()">Add Room</button><br />
<button (click)="toggle_RC()">Toggle</button><br />
<button (click)="updateRoom_roomsC()">Update Room</button><br />
<button (click)="deleteRoom_roomsC()">Delete</button><br />
{{ getError$ | async }}
<div *ngIf="getError$ | async as errorMessage" class="error">
  {{ errorMessage }}
</div>
